#   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-
#  / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \
# `-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'
#
#               Example environment configuration
#
#   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-
#  / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \
# `-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'

# By default, the examples support both mnemonic-based and private key-based authentication
# 
# You don't need to set both of these values, just pick the one that you prefer and set that one
MNEMONIC=YOUR_MNEMONIC

# Contract owner's private key
# This is used for signing whitelist transactions
# Warning: Keep this secure and never commit to version control
PRIVATE_KEY=YOUR_PRIVATE_KEY

#RPC URLS's

ETHEREUM_RPC_URL=YOUR_URL
BASE_RPC_URL=YOUR_URL
OPTIMISM_RPC_URL=YOUR_URL
ARBITRUM_RPC_URL=YOUR_URL

#TENDERLY INFO
TENDERLY_PROJECT=your_tenderly_project_name
TENDERLY_USERNAME=your_tenderly_username