[submodule "node_modules/.pnpm/@layerzerolabs+toolbox-foundry@0.1.13/node_modules/@layerzerolabs/toolbox-foundry/lib/permit2"]
	path = node_modules/.pnpm/@layerzerolabs+toolbox-foundry@0.1.13/node_modules/@layerzerolabs/toolbox-foundry/lib/permit2
	url = https://github.com/Uniswap/permit2
