.env
broadcast
node_modules
.DS_Store
coverage
coverage.json
typechain
typechain-types
deployments/localhost
pnpm-lock.yaml

# Hardhat files
cache
artifacts

# Foundry specific
cache/
out/
# Don't ignore the lib directory for Git submodules
# !lib/

# LayerZero specific files
.layerzero

# pnpm
pnpm-error.log

# Editor and OS files
.idea
.vscode
